# Computing Heat Indices

The code calculates a measure — the heat index — for what the temperature "feels like" to the human body when relative humidity is combined with the air temperature.

## Importing libraries

In [1]:
import pandas as pd
import time
from modules import relHumidity, heatIndex

## Importing dataframes

In [2]:
### imports historical data
data_hist = pd.read_csv("raw_data/master_hist.csv")

### displays dataframe
data_hist

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR
0,Alachua,-82.3576,29.6748,147.0,1990-01-01,0.24,51.7,65.8,79.8,60.9,0.16,18.00,1990-01,1990,1990-01,1990
1,Alachua,-82.3576,29.6748,147.0,1990-01-02,0.00,35.3,47.1,58.9,34.9,0.93,10.33,1990-01,1990,1990-01,1990
2,Alachua,-82.3576,29.6748,147.0,1990-01-03,0.00,40.0,52.6,65.3,44.0,1.15,11.13,1990-01,1990,1990-01,1990
3,Alachua,-82.3576,29.6748,147.0,1990-01-04,0.00,47.6,60.4,73.1,51.4,0.57,14.42,1990-01,1990,1990-01,1990
4,Alachua,-82.3576,29.6748,147.0,1990-01-05,0.00,52.0,64.4,76.8,60.3,0.47,13.53,1990-01,1990,1990-01,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734181,Washington,-85.6654,30.6106,121.0,1989-12-27,0.00,28.0,44.1,60.1,28.6,0.70,11.94,1989-12,1989,1989-12,1989
734182,Washington,-85.6654,30.6106,121.0,1989-12-28,0.00,29.3,47.3,65.3,36.7,0.31,14.45,1989-12,1989,1989-12,1989
734183,Washington,-85.6654,30.6106,121.0,1989-12-29,0.00,35.3,51.0,66.8,39.5,0.38,14.42,1989-12,1989,1989-12,1989
734184,Washington,-85.6654,30.6106,121.0,1989-12-30,0.00,41.8,54.6,67.5,48.5,0.26,10.85,1989-12,1989,1989-12,1989
734185,Washington,-85.6654,30.6106,121.0,1989-12-31,1.08,48.5,60.4,72.4,54.9,0.40,13.07,1989-12,1989,1989-12,1989

In [3]:
### imports recent data
data_rec = pd.read_csv("raw_data/master_rec.csv")

### displays dataframe
data_rec

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR
0,Alachua,-82.3576,29.6748,147.0,2020-01-01,0.00,40.0,52.8,65.5,39.8,0.22,14.04,2020-01,2020,2020-01,2020
1,Alachua,-82.3576,29.6748,147.0,2020-01-02,0.00,42.5,54.0,65.6,40.8,0.52,14.92,2020-01,2020,2020-01,2020
2,Alachua,-82.3576,29.6748,147.0,2020-01-03,0.00,46.8,62.1,77.5,57.1,0.42,17.98,2020-01,2020,2020-01,2020
3,Alachua,-82.3576,29.6748,147.0,2020-01-04,0.09,67.7,75.2,82.6,68.9,0.75,13.35,2020-01,2020,2020-01,2020
4,Alachua,-82.3576,29.6748,147.0,2020-01-05,0.57,40.7,56.8,73.0,50.4,0.62,9.00,2020-01,2020,2020-01,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244679,Washington,-85.6654,30.6106,121.0,2013-12-27,0.00,37.1,47.9,58.7,39.1,0.55,7.94,2013-12,2013,2013-12,2013
244680,Washington,-85.6654,30.6106,121.0,2013-12-28,0.00,44.1,51.7,59.2,38.4,1.55,9.30,2013-12,2013,2013-12,2013
244681,Washington,-85.6654,30.6106,121.0,2013-12-29,2.09,47.3,54.1,61.0,49.4,0.29,4.85,2013-12,2013,2013-12,2013
244682,Washington,-85.6654,30.6106,121.0,2013-12-30,0.02,37.0,46.8,56.6,43.7,0.21,4.11,2013-12,2013,2013-12,2013
244683,Washington,-85.6654,30.6106,121.0,2013-12-31,0.00,37.5,48.5,59.6,45.9,0.23,7.80,2013-12,2013,2013-12,2013

In [4]:
### imports latest data
data_lat = pd.read_csv("raw_data/master_lat.csv")

### displays dataframe
data_lat

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR
0,Alachua,-82.3576,29.6748,147.0,2023-01-01,0.10,62.0,66.3,70.7,62.2,2.40,4.61,2023-01,2023,2023-01,2023
1,Alachua,-82.3576,29.6748,147.0,2023-01-02,0.00,56.8,66.1,75.4,60.5,2.42,8.18,2023-01,2023,2023-01,2023
2,Alachua,-82.3576,29.6748,147.0,2023-01-03,0.00,56.5,67.8,79.0,61.4,1.98,12.30,2023-01,2023,2023-01,2023
3,Alachua,-82.3576,29.6748,147.0,2023-01-04,0.00,59.9,70.0,80.1,64.0,1.79,13.07,2023-01,2023,2023-01,2023
4,Alachua,-82.3576,29.6748,147.0,2023-01-05,0.60,62.4,70.8,79.2,63.9,1.68,9.90,2023-01,2023,2023-01,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11050,Washington,-85.6654,30.6106,121.0,2023-06-10,0.15,67.1,79.7,92.2,70.6,0.89,26.09,2023-06,2023,2023-06,2023
11051,Washington,-85.6654,30.6106,121.0,2023-06-11,0.00,70.2,80.4,90.6,68.3,0.32,28.20,2023-06,2023,2023-06,2023
11052,Washington,-85.6654,30.6106,121.0,2023-06-12,0.00,72.8,81.4,90.1,72.2,0.71,24.22,2023-06,2023,2023-06,2023
11053,Washington,-85.6654,30.6106,121.0,2023-06-13,0.04,67.4,80.0,92.6,70.8,0.64,25.75,2023-06,2023,2023-06,2023
11054,Washington,-85.6654,30.6106,121.0,2023-06-14,1.54,68.8,78.7,88.5,71.3,0.31,19.05,2023-06,2023,2023-06,2023

## Calculating heat indices

### Storing lengths of dataframe

In [5]:
### stores length of historical dataframe
historic_len = len(data_hist)

### stores length of recent dataframe
recent_len = len(data_rec)

### stores length of latest dataframe
lat_len = len(data_lat)

### Defining loops to compute heat indices and relative humidity¶

#### Historical temperatures (1983-2012)

In [6]:
### creates columns to write into
data_hist["TMIN_INDEX"] = ""
data_hist["TMAX_INDEX"] = ""
data_hist["TMEAN_INDEX"] = ""
data_hist["REL_HUMIDITY"] = ""

### loop runs through dataframe
for i in range(0, historic_len):
    
    ### stores mean temperature and mean dewpoint
    temp_mean = data_hist["TMEAN"][i]
    dew = data_hist["TDMEAN"][i]
    
    ### calls predefined method and computes relative humidity
    data_hist["REL_HUMIDITY"][i] = round(relHumidity(temp_mean, dew), 1)
    
    ### calls predefined method and computes heat indices 
    data_hist["TMIN_INDEX"][i] = heatIndex(data_hist["TMIN"][i], data_hist["REL_HUMIDITY"][i])
    data_hist["TMAX_INDEX"][i] = heatIndex(data_hist["TMAX"][i], data_hist["REL_HUMIDITY"][i])
    data_hist["TMEAN_INDEX"][i] = heatIndex(data_hist["TMEAN"][i], data_hist["REL_HUMIDITY"][i])
    
    ### prints out a progress report showing number of rows processed    
    if(i%10000 == 0):
        print("Completed: ", str(int(i/historic_len * 100)), "%")
        print("Rows completed: ", str(i))
        print("_______")
    elif(i == (historic_len - 1)):
        print("Completed: 100%")
        print("_______")
        print("_______")

/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2047665336.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hist["REL_HUMIDITY"][i] = round(relHumidity(temp_mean, dew), 1)
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2047665336.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hist["TMIN_INDEX"][i] = heatIndex(data_hist["TMIN"][i], data_hist["REL_HUMIDITY"][i])
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2047665336.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hist["TMAX_INDEX"][i] = heatIndex(data_hist["TMAX"][i], data_hist["REL_HUMIDITY"][i])
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2047665336.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hist["TMEAN_INDEX"][i] = heatIndex(data_hist["TMEAN"][i], data_hist["REL_HUMIDITY"][i])

Completed:  0 %
Rows completed:  0
_______
Completed:  1 %
Rows completed:  10000
_______
Completed:  2 %
Rows completed:  20000
_______
Completed:  4 %
Rows completed:  30000
_______
Completed:  5 %
Rows completed:  40000
_______
Completed:  6 %
Rows completed:  50000
_______
Completed:  8 %
Rows completed:  60000
_______
Completed:  9 %
Rows completed:  70000
_______
Completed:  10 %
Rows completed:  80000
_______
Completed:  12 %
Rows completed:  90000
_______
Completed:  13 %
Rows completed:  100000
_______
Completed:  14 %
Rows completed:  110000
_______
Completed:  16 %
Rows completed:  120000
_______
Completed:  17 %
Rows completed:  130000
_______
Completed:  19 %
Rows completed:  140000
_______
Completed:  20 %
Rows completed:  150000
_______
Completed:  21 %
Rows completed:  160000
_______
Completed:  23 %
Rows completed:  170000
_______
Completed:  24 %
Rows completed:  180000
_______
Completed:  25 %
Rows completed:  190000
_______
Completed:  27 %
Rows completed:  200000
_______
Completed:  28 %
Rows completed:  210000
_______
Completed:  29 %
Rows completed:  220000
_______
Completed:  31 %
Rows completed:  230000
_______
Completed:  32 %
Rows completed:  240000
_______
Completed:  34 %
Rows completed:  250000
_______
Completed:  35 %
Rows completed:  260000
_______
Completed:  36 %
Rows completed:  270000
_______
Completed:  38 %
Rows completed:  280000
_______
Completed:  39 %
Rows completed:  290000
_______
Completed:  40 %
Rows completed:  300000
_______
Completed:  42 %
Rows completed:  310000
_______
Completed:  43 %
Rows completed:  320000
_______
Completed:  44 %
Rows completed:  330000
_______
Completed:  46 %
Rows completed:  340000
_______
Completed:  47 %
Rows completed:  350000
_______
Completed:  49 %
Rows completed:  360000
_______
Completed:  50 %
Rows completed:  370000
_______
Completed:  51 %
Rows completed:  380000
_______
Completed:  53 %
Rows completed:  390000
_______
Completed:  54 %
Rows completed:  400000
_______
Completed:  55 %
Rows completed:  410000
_______
Completed:  57 %
Rows completed:  420000
_______
Completed:  58 %
Rows completed:  430000
_______
Completed:  59 %
Rows completed:  440000
_______
Completed:  61 %
Rows completed:  450000
_______
Completed:  62 %
Rows completed:  460000
_______
Completed:  64 %
Rows completed:  470000
_______
Completed:  65 %
Rows completed:  480000
_______
Completed:  66 %
Rows completed:  490000
_______
Completed:  68 %
Rows completed:  500000
_______
Completed:  69 %
Rows completed:  510000
_______
Completed:  70 %
Rows completed:  520000
_______
Completed:  72 %
Rows completed:  530000
_______
Completed:  73 %
Rows completed:  540000
_______
Completed:  74 %
Rows completed:  550000
_______
Completed:  76 %
Rows completed:  560000
_______
Completed:  77 %
Rows completed:  570000
_______
Completed:  78 %
Rows completed:  580000
_______
Completed:  80 %
Rows completed:  590000
_______
Completed:  81 %
Rows completed:  600000
_______
Completed:  83 %
Rows completed:  610000
_______
Completed:  84 %
Rows completed:  620000
_______
Completed:  85 %
Rows completed:  630000
_______
Completed:  87 %
Rows completed:  640000
_______
Completed:  88 %
Rows completed:  650000
_______
Completed:  89 %
Rows completed:  660000
_______
Completed:  91 %
Rows completed:  670000
_______
Completed:  92 %
Rows completed:  680000
_______
Completed:  93 %
Rows completed:  690000
_______
Completed:  95 %
Rows completed:  700000
_______
Completed:  96 %
Rows completed:  710000
_______
Completed:  98 %
Rows completed:  720000
_______
Completed:  99 %
Rows completed:  730000
_______
Completed: 100%
_______
_______

#### Recent temperatures (2013-2022)

In [7]:
### creates columns to write into
data_rec["TMIN_INDEX"] = " "
data_rec["TMAX_INDEX"] = " "
data_rec["TMEAN_INDEX"] = " "
data_rec["REL_HUMIDITY"] = " "

### loop runs through dataframe
for i in range(0, recent_len):
    
    ### stores mean temperature and mean dewpoint
    temp_mean = data_rec["TMEAN"][i]
    dew = data_rec["TDMEAN"][i]
    
    ### calls predefined method and computes relative humidity
    data_rec["REL_HUMIDITY"][i] = round(relHumidity(temp_mean, dew), 1)
    
    ### calls predefined method and computes heat indices 
    data_rec["TMIN_INDEX"][i] = heatIndex(data_rec["TMIN"][i], data_rec["REL_HUMIDITY"][i])
    data_rec["TMAX_INDEX"][i] = heatIndex(data_rec["TMAX"][i], data_rec["REL_HUMIDITY"][i])
    data_rec["TMEAN_INDEX"][i] = heatIndex(data_rec["TMEAN"][i], data_rec["REL_HUMIDITY"][i])
    
    ### prints out a progress report showing number of rows processed    
    if(i%10000 == 0):
        print("Completed: ", str(int(i/recent_len * 100)), "%")
        print("Rows completed: ", str(i))
        print("_______")
    elif(i == (recent_len - 1)):
        print("Completed: 100%")
        print("_______")
        print("_______")

Completed:  0 %
Rows completed:  0
_______

/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2671231055.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rec["REL_HUMIDITY"][i] = round(relHumidity(temp_mean, dew), 1)
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2671231055.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rec["TMIN_INDEX"][i] = heatIndex(data_rec["TMIN"][i], data_rec["REL_HUMIDITY"][i])
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2671231055.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rec["TMAX_INDEX"][i] = heatIndex(data_rec["TMAX"][i], data_rec["REL_HUMIDITY"][i])
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2671231055.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rec["TMEAN_INDEX"][i] = heatIndex(data_rec["TMEAN"][i], data_rec["REL_HUMIDITY"][i])

Completed:  4 %
Rows completed:  10000
_______
Completed:  8 %
Rows completed:  20000
_______
Completed:  12 %
Rows completed:  30000
_______
Completed:  16 %
Rows completed:  40000
_______
Completed:  20 %
Rows completed:  50000
_______
Completed:  24 %
Rows completed:  60000
_______
Completed:  28 %
Rows completed:  70000
_______
Completed:  32 %
Rows completed:  80000
_______
Completed:  36 %
Rows completed:  90000
_______
Completed:  40 %
Rows completed:  100000
_______
Completed:  44 %
Rows completed:  110000
_______
Completed:  49 %
Rows completed:  120000
_______
Completed:  53 %
Rows completed:  130000
_______
Completed:  57 %
Rows completed:  140000
_______
Completed:  61 %
Rows completed:  150000
_______
Completed:  65 %
Rows completed:  160000
_______
Completed:  69 %
Rows completed:  170000
_______
Completed:  73 %
Rows completed:  180000
_______
Completed:  77 %
Rows completed:  190000
_______
Completed:  81 %
Rows completed:  200000
_______
Completed:  85 %
Rows completed:  210000
_______
Completed:  89 %
Rows completed:  220000
_______
Completed:  93 %
Rows completed:  230000
_______
Completed:  98 %
Rows completed:  240000
_______
Completed: 100%
_______
_______

#### Latest temperatures (January 1, 2023 — June 14, 2023)

In [8]:
### creates columns to write into
data_lat["TMIN_INDEX"] = " "
data_lat["TMAX_INDEX"] = " "
data_lat["TMEAN_INDEX"] = " "
data_lat["REL_HUMIDITY"] = " "

### loop runs through dataframe
for i in range(0, lat_len):
    
    ### stores mean temperature and mean dewpoint
    temp_mean = data_lat["TMEAN"][i]
    dew = data_lat["TDMEAN"][i]
    
    ### calls predefined method and computes relative humidity
    data_lat["REL_HUMIDITY"][i] = round(relHumidity(temp_mean, dew), 1)

    ### calls predefined method and computes heat indices
    data_lat["TMIN_INDEX"][i] = heatIndex(data_lat["TMIN"][i], data_lat["REL_HUMIDITY"][i])
    data_lat["TMAX_INDEX"][i] = heatIndex(data_lat["TMAX"][i], data_lat["REL_HUMIDITY"][i])
    data_lat["TMEAN_INDEX"][i] = heatIndex(data_lat["TMEAN"][i], data_lat["REL_HUMIDITY"][i])
    
    ### prints out a progress report showing number of rows processed    
    if(i%1000 == 0):
        print("Completed: ", str(int(i/lat_len * 100)), "%")
        print("Rows completed: ", str(i))
        print("_______")
    elif(i == (lat_len - 1)):
        print("Completed: 100%")
        print("_______")
        print("_______")

Completed:  0 %
Rows completed:  0
_______

/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2573869457.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_lat["REL_HUMIDITY"][i] = round(relHumidity(temp_mean, dew), 1)
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2573869457.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_lat["TMIN_INDEX"][i] = heatIndex(data_lat["TMIN"][i], data_lat["REL_HUMIDITY"][i])
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2573869457.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_lat["TMAX_INDEX"][i] = heatIndex(data_lat["TMAX"][i], data_lat["REL_HUMIDITY"][i])
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_27265/2573869457.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_lat["TMEAN_INDEX"][i] = heatIndex(data_lat["TMEAN"][i], data_lat["REL_HUMIDITY"][i])

Completed:  9 %
Rows completed:  1000
_______
Completed:  18 %
Rows completed:  2000
_______
Completed:  27 %
Rows completed:  3000
_______
Completed:  36 %
Rows completed:  4000
_______
Completed:  45 %
Rows completed:  5000
_______
Completed:  54 %
Rows completed:  6000
_______
Completed:  63 %
Rows completed:  7000
_______
Completed:  72 %
Rows completed:  8000
_______
Completed:  81 %
Rows completed:  9000
_______
Completed:  90 %
Rows completed:  10000
_______
Completed:  99 %
Rows completed:  11000
_______
Completed: 100%
_______
_______

## Displaying final dataframes

In [9]:
data_hist

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Alachua,-82.3576,29.6748,147.0,1990-01-01,0.24,51.7,65.8,79.8,60.9,0.16,18.00,1990-01,1990,1990-01,1990,51.1,84.3,65.9,84.2
1,Alachua,-82.3576,29.6748,147.0,1990-01-02,0.00,35.3,47.1,58.9,34.9,0.93,10.33,1990-01,1990,1990-01,1990,33.4,58.2,45.8,62.3
2,Alachua,-82.3576,29.6748,147.0,1990-01-03,0.00,40.0,52.6,65.3,44.0,1.15,11.13,1990-01,1990,1990-01,1990,38.6,65.1,51.8,72.5
3,Alachua,-82.3576,29.6748,147.0,1990-01-04,0.00,47.6,60.4,73.1,51.4,0.57,14.42,1990-01,1990,1990-01,1990,46.5,73.3,60.0,72.2
4,Alachua,-82.3576,29.6748,147.0,1990-01-05,0.00,52.0,64.4,76.8,60.3,0.47,13.53,1990-01,1990,1990-01,1990,51.5,77.5,64.5,86.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734181,Washington,-85.6654,30.6106,121.0,1989-12-27,0.00,28.0,44.1,60.1,28.6,0.70,11.94,1989-12,1989,1989-12,1989,25.5,59.2,42.4,54.2
734182,Washington,-85.6654,30.6106,121.0,1989-12-28,0.00,29.3,47.3,65.3,36.7,0.31,14.45,1989-12,1989,1989-12,1989,27.2,65.0,46.1,66.5
734183,Washington,-85.6654,30.6106,121.0,1989-12-29,0.00,35.3,51.0,66.8,39.5,0.38,14.42,1989-12,1989,1989-12,1989,33.4,66.5,49.9,64.6
734184,Washington,-85.6654,30.6106,121.0,1989-12-30,0.00,41.8,54.6,67.5,48.5,0.26,10.85,1989-12,1989,1989-12,1989,40.6,67.6,54.1,79.8
734185,Washington,-85.6654,30.6106,121.0,1989-12-31,1.08,48.5,60.4,72.4,54.9,0.40,13.07,1989-12,1989,1989-12,1989,47.7,72.8,60.2,82.1

In [10]:
data_rec

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Alachua,-82.3576,29.6748,147.0,2020-01-01,0.00,40.0,52.8,65.5,39.8,0.22,14.04,2020-01,2020,2020-01,2020,38.3,65.1,51.7,61.2
1,Alachua,-82.3576,29.6748,147.0,2020-01-02,0.00,42.5,54.0,65.6,40.8,0.52,14.92,2020-01,2020,2020-01,2020,40.9,65.2,53.0,60.9
2,Alachua,-82.3576,29.6748,147.0,2020-01-03,0.00,46.8,62.1,77.5,57.1,0.42,17.98,2020-01,2020,2020-01,2020,46.0,78.2,62.0,83.7
3,Alachua,-82.3576,29.6748,147.0,2020-01-04,0.09,67.7,75.2,82.6,68.9,0.75,13.35,2020-01,2020,2020-01,2020,67.8,90.5,75.7,80.8
4,Alachua,-82.3576,29.6748,147.0,2020-01-05,0.57,40.7,56.8,73.0,50.4,0.62,9.00,2020-01,2020,2020-01,2020,39.4,73.4,56.3,79.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244679,Washington,-85.6654,30.6106,121.0,2013-12-27,0.00,37.1,47.9,58.7,39.1,0.55,7.94,2013-12,2013,2013-12,2013,35.5,58.2,46.8,71.4
244680,Washington,-85.6654,30.6106,121.0,2013-12-28,0.00,44.1,51.7,59.2,38.4,1.55,9.30,2013-12,2013,2013-12,2013,42.6,58.4,50.6,60.3
244681,Washington,-85.6654,30.6106,121.0,2013-12-29,2.09,47.3,54.1,61.0,49.4,0.29,4.85,2013-12,2013,2013-12,2013,46.5,60.9,53.6,84.1
244682,Washington,-85.6654,30.6106,121.0,2013-12-30,0.02,37.0,46.8,56.6,43.7,0.21,4.11,2013-12,2013,2013-12,2013,35.8,56.4,46.1,88.9
244683,Washington,-85.6654,30.6106,121.0,2013-12-31,0.00,37.5,48.5,59.6,45.9,0.23,7.80,2013-12,2013,2013-12,2013,36.4,59.6,47.9,90.7

In [11]:
data_lat

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Alachua,-82.3576,29.6748,147.0,2023-01-01,0.10,62.0,66.3,70.7,62.2,2.40,4.61,2023-01,2023,2023-01,2023,62.0,71.1,66.5,86.7
1,Alachua,-82.3576,29.6748,147.0,2023-01-02,0.00,56.8,66.1,75.4,60.5,2.42,8.18,2023-01,2023,2023-01,2023,56.4,76.0,66.2,82.2
2,Alachua,-82.3576,29.6748,147.0,2023-01-03,0.00,56.5,67.8,79.0,61.4,1.98,12.30,2023-01,2023,2023-01,2023,56.1,79.7,67.9,80.0
3,Alachua,-82.3576,29.6748,147.0,2023-01-04,0.00,59.9,70.0,80.1,64.0,1.79,13.07,2023-01,2023,2023-01,2023,59.7,84.6,70.3,81.3
4,Alachua,-82.3576,29.6748,147.0,2023-01-05,0.60,62.4,70.8,79.2,63.9,1.68,9.90,2023-01,2023,2023-01,2023,62.2,79.9,71.0,78.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11050,Washington,-85.6654,30.6106,121.0,2023-06-10,0.15,67.1,79.7,92.2,70.6,0.89,26.09,2023-06,2023,2023-06,2023,67.0,116.2,82.9,73.9
11051,Washington,-85.6654,30.6106,121.0,2023-06-11,0.00,70.2,80.4,90.6,68.3,0.32,28.20,2023-06,2023,2023-06,2023,70.1,105.4,83.2,66.7
11052,Washington,-85.6654,30.6106,121.0,2023-06-12,0.00,72.8,81.4,90.1,72.2,0.71,24.22,2023-06,2023,2023-06,2023,73.0,108.9,86.1,73.8
11053,Washington,-85.6654,30.6106,121.0,2023-06-13,0.04,67.4,80.0,92.6,70.8,0.64,25.75,2023-06,2023,2023-06,2023,67.3,117.4,83.4,73.6
11054,Washington,-85.6654,30.6106,121.0,2023-06-14,1.54,68.8,78.7,88.5,71.3,0.31,19.05,2023-06,2023,2023-06,2023,68.9,106.7,79.3,78.1

## Exporting dataframes

In [12]:
data_hist.to_csv("generated_data/historic_hi.csv", index = False)
data_rec.to_csv("generated_data/recent_hi.csv", index = False)
data_lat.to_csv("generated_data/latest_hi.csv", index = False)