# Miami-Dade Median Temperatures â€” Analysis

The code analyzes the daily temperature data to compute Miami-Dade county's daily median temperatures, heat indices and days above certain threshold heat index values. 

Read more on the thresholds [here](https://web.archive.org/web/20230619070053/https://www.noaa.gov/jetstream/global/heat-index).

## Importing libraries

In [1]:
import pandas as pd
import time
from modules import relHumidity, heatIndex

## Importing datasets and creating master dataframe

In [2]:
data_hist = pd.read_csv("generated_data/historic_hi.csv")
data_rec = pd.read_csv("generated_data/recent_hi.csv")

Note: Data from 2023 is excluded since it is incomplete

In [3]:
### creating master dataframe
master = pd.concat([data_hist, data_rec], ignore_index = True)

### filtering for county
dade_daily_med = master[master["COUNTY"] == "Miami-Dade"].reset_index(drop = True)

### displayes dataframe
dade_daily_med

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Miami-Dade,-80.5684,25.6148,7.0,1990-01-01,0.00,61.9,72.6,83.3,67.8,0.07,15.21,1990-01,1990,1990-01,1990,61.8,93.8,73.1,84.9
1,Miami-Dade,-80.5684,25.6148,7.0,1990-01-02,0.00,58.0,71.4,84.7,60.2,0.19,20.42,1990-01,1990,1990-01,1990,57.3,91.2,71.4,67.8
2,Miami-Dade,-80.5684,25.6148,7.0,1990-01-03,0.00,60.2,68.4,76.7,61.0,0.67,13.11,1990-01,1990,1990-01,1990,59.9,77.2,68.5,77.3
3,Miami-Dade,-80.5684,25.6148,7.0,1990-01-04,0.06,65.5,72.3,79.1,65.4,1.44,14.17,1990-01,1990,1990-01,1990,65.5,79.8,72.6,79.0
4,Miami-Dade,-80.5684,25.6148,7.0,1990-01-05,0.00,68.5,74.3,80.1,70.0,0.21,10.14,1990-01,1990,1990-01,1990,68.8,85.6,74.9,86.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14605,Miami-Dade,-80.5684,25.6148,7.0,2013-12-27,0.62,67.3,72.1,77.0,68.6,0.62,6.80,2013-12,2013,2013-12,2013,67.6,77.8,72.6,88.8
14606,Miami-Dade,-80.5684,25.6148,7.0,2013-12-28,0.25,68.0,73.6,79.2,69.9,0.47,8.98,2013-12,2013,2013-12,2013,68.3,83.3,74.2,88.2
14607,Miami-Dade,-80.5684,25.6148,7.0,2013-12-29,0.03,72.4,75.7,79.1,71.9,1.53,7.43,2013-12,2013,2013-12,2013,72.9,80.0,76.4,88.0
14608,Miami-Dade,-80.5684,25.6148,7.0,2013-12-30,0.02,69.8,74.4,79.1,71.9,0.60,6.09,2013-12,2013,2013-12,2013,70.3,83.4,75.1,91.9
14609,Miami-Dade,-80.5684,25.6148,7.0,2013-12-31,0.02,65.9,72.1,78.3,67.0,0.70,8.53,2013-12,2013,2013-12,2013,66.0,79.0,72.5,84.0

## Computing overall county figures for 1983 to 2022

### Median temperature and dewpoint temperature

In [4]:
### computes average temperatures
med_temp = round(dade_daily_med["TMEAN"].median(), 3)
med_dp = round(dade_daily_med["TDMEAN"].median(), 3)

print("Median temperature (1983-2022):", med_temp)
print("Median dewpoint temperature (1983-2022):", med_dp)

Median temperature (1983-2022): 77.2
Median dewpoint temperature (1983-2022): 69.7

### Average relative humidity

In [5]:
### computes relative humidity 
rel_humidity = round(relHumidity(med_temp, med_dp), 1)

print("Median relative humidity (1983-2022):", rel_humidity)

Median relative humidity (1983-2022): 77.8

### Average heat index

In [6]:
### computes heat index
hi_med = heatIndex(med_temp, rel_humidity)

print("Median heat index (1983-2022):", hi_med)

Median heat index (1983-2022): 77.7

## Computing average yearly figures

### Creating dataframe

In [7]:
### selects columns 
columns = ["TMEAN", "TDMEAN"]

### computes yearly averages
dade_yearly_med = dade_daily_med.groupby("YEAR_STR", as_index = False)[columns].median()

### displays dataframe
dade_yearly_med

    YEAR_STR  TMEAN  TDMEAN
0       1983  76.20   68.60
1       1984  76.30   68.50
2       1985  77.50   69.40
3       1986  78.00   70.50
4       1987  76.40   68.50
5       1988  76.40   68.00
6       1989  77.10   69.30
7       1990  76.70   68.90
8       1991  77.60   70.00
9       1992  76.15   68.30
10      1993  77.00   69.50
11      1994  78.00   71.60
12      1995  78.40   70.50
13      1996  77.00   68.95
14      1997  77.60   70.50
15      1998  77.20   70.70
16      1999  76.00   67.90
17      2000  74.95   67.65
18      2001  75.70   68.70
19      2002  77.50   69.20
20      2003  78.90   71.70
21      2004  76.40   68.25
22      2005  76.60   70.10
23      2006  75.80   69.20
24      2007  76.40   68.80
25      2008  75.95   67.95
26      2009  77.60   69.70
27      2010  76.60   68.60
28      2011  76.70   68.30
29      2012  76.80   68.60
30      2013  77.80   70.20
31      2014  76.80   68.90
32      2015  78.90   71.60
33      2016  77.80   70.05
34      2017  77.30   70.50
35      2018  77.80   71.50
36      2019  79.30   71.10
37      2020  79.30   72.40
38      2021  78.20   71.30
39      2022  78.30   71.00

### Computing heat indices

In [8]:
### creates column to write into
dade_yearly_med["TMEAN_INDEX"] = " "

### loop runs through dataframe
for i in range(0, len(dade_yearly_med)):
    
    ### stores mean temperature and median dewpoint
    temp_med = dade_yearly_med["TMEAN"][i]
    dew = dade_yearly_med["TDMEAN"][i]
    
    rh = round(relHumidity(temp_med, dew), 1)
    
    ### calls method to compute heat indices and stores the values
    dade_yearly_med["TMEAN_INDEX"][i] = heatIndex(dade_yearly_med["TMEAN"][i], rh)

dade_yearly_med.head()

/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_5356/3828767350.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dade_yearly_med["TMEAN_INDEX"][i] = heatIndex(dade_yearly_med["TMEAN"][i], rh)

   YEAR_STR  TMEAN  TDMEAN TMEAN_INDEX
0      1983   76.2    68.6        76.7
1      1984   76.3    68.5        76.8
2      1985   77.5    69.4        78.0
3      1986   78.0    70.5        78.6
4      1987   76.4    68.5        76.9

### Computing deviations

In [9]:
### creates column to write into
dade_yearly_med["OVERALL_MED_TEMP"] = med_temp
dade_yearly_med["OVERALL_MED_INDEX"] = hi_med
dade_yearly_med["DEVIATION_TEMP"] = ""
dade_yearly_med["DEVIATION_INDEX"] = ""

### loop runs through dataframe
for i in range(0, len(dade_yearly_med)):
    
    ### computes and stores difference in temperature between that year and the overall county's average
    dade_yearly_med["DEVIATION_TEMP"][i] = dade_yearly_med["TMEAN"][i] - med_temp
    
    ### computes and stores difference in heat index between that year and the overall county's average
    dade_yearly_med["DEVIATION_INDEX"][i] = dade_yearly_med["TMEAN_INDEX"][i] - hi_med

### displays dataframe
dade_yearly_med

/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_5356/2409431438.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dade_yearly_med["DEVIATION_TEMP"][i] = dade_yearly_med["TMEAN"][i] - med_temp
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_5356/2409431438.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dade_yearly_med["DEVIATION_INDEX"][i] = dade_yearly_med["TMEAN_INDEX"][i] - hi_med

,YEAR_STR,TMEAN,TDMEAN,TMEAN_INDEX,OVERALL_MED_TEMP,OVERALL_MED_INDEX,DEVIATION_TEMP,DEVIATION_INDEX
0,1983,76.20,68.60,76.7,77.2,77.7,-1.0,-1.0
1,1984,76.30,68.50,76.8,77.2,77.7,-0.9,-0.9
2,1985,77.50,69.40,78.0,77.2,77.7,0.3,0.3
3,1986,78.00,70.50,78.6,77.2,77.7,0.8,0.9
4,1987,76.40,68.50,76.9,77.2,77.7,-0.8,-0.8
5,1988,76.40,68.00,76.8,77.2,77.7,-0.8,-0.9
6,1989,77.10,69.30,77.6,77.2,77.7,-0.1,-0.1
7,1990,76.70,68.90,77.2,77.2,77.7,-0.5,-0.5
8,1991,77.60,70.00,78.2,77.2,77.7,0.4,0.5
9,1992,76.15,68.30,76.6,77.2,77.7,-1.05,-1.1
10,1993,77.00,69.50,77.5,77.2,77.7,-0.2,-0.2
11,1994,78.00,71.60,78.6,77.2,77.7,0.8,0.9
12,1995,78.40,70.50,79.0,77.2,77.7,1.2,1.3
13,1996,77.00,68.95,77.5,77.2,77.7,-0.2,-0.2
14,1997,77.60,70.50,78.2,77.2,77.7,0.4,0.5
15,1998,77.20,70.70,77.8,77.2,77.7,0.0,0.1
16,1999,76.00,67.90,76.4,77.2,77.7,-1.2,-1.3
17,2000,74.95,67.65,75.4,77.2,77.7,-2.25,-2.3
18,2001,75.70,68.70,76.2,77.2,77.7,-1.5,-1.5
19,2002,77.50,69.20,78.0,77.2,77.7,0.3,0.3
20,2003,78.90,71.70,79.5,77.2,77.7,1.7,1.8
21,2004,76.40,68.25,76.9,77.2,77.7,-0.8,-0.8
22,2005,76.60,70.10,77.2,77.2,77.7,-0.6,-0.5
23,2006,75.80,69.20,76.3,77.2,77.7,-1.4,-1.4
24,2007,76.40,68.80,76.9,77.2,77.7,-0.8,-0.8
25,2008,75.95,67.95,76.4,77.2,77.7,-1.25,-1.3
26,2009,77.60,69.70,78.1,77.2,77.7,0.4,0.4
27,2010,76.60,68.60,77.1,77.2,77.7,-0.6,-0.6
28,2011,76.70,68.30,77.2,77.2,77.7,-0.5,-0.5
29,2012,76.80,68.60,77.3,77.2,77.7,-0.4,-0.4
30,2013,77.80,70.20,78.4,77.2,77.7,0.6,0.7
31,2014,76.80,68.90,77.3,77.2,77.7,-0.4,-0.4
32,2015,78.90,71.60,79.5,77.2,77.7,1.7,1.8
33,2016,77.80,70.05,78.4,77.2,77.7,0.6,0.7
34,2017,77.30,70.50,77.9,77.2,77.7,0.1,0.2
35,2018,77.80,71.50,78.4,77.2,77.7,0.6,0.7
36,2019,79.30,71.10,79.9,77.2,77.7,2.1,2.2
37,2020,79.30,72.40,80.0,77.2,77.7,2.1,2.3
38,2021,78.20,71.30,78.8,77.2,77.7,1.0,1.1
39,2022,78.30,71.00,78.9,77.2,77.7,1.1,1.2

## Computing day counts above certain thresholds

In [10]:
### displays daily temperature dataframe
dade_daily_med.head()

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Miami-Dade,-80.5684,25.6148,7.0,1990-01-01,0.00,61.9,72.6,83.3,67.8,0.07,15.21,1990-01,1990,1990-01,1990,61.8,93.8,73.1,84.9
1,Miami-Dade,-80.5684,25.6148,7.0,1990-01-02,0.00,58.0,71.4,84.7,60.2,0.19,20.42,1990-01,1990,1990-01,1990,57.3,91.2,71.4,67.8
2,Miami-Dade,-80.5684,25.6148,7.0,1990-01-03,0.00,60.2,68.4,76.7,61.0,0.67,13.11,1990-01,1990,1990-01,1990,59.9,77.2,68.5,77.3
3,Miami-Dade,-80.5684,25.6148,7.0,1990-01-04,0.06,65.5,72.3,79.1,65.4,1.44,14.17,1990-01,1990,1990-01,1990,65.5,79.8,72.6,79.0
4,Miami-Dade,-80.5684,25.6148,7.0,1990-01-05,0.00,68.5,74.3,80.1,70.0,0.21,10.14,1990-01,1990,1990-01,1990,68.8,85.6,74.9,86.5

### Mean heat index >= 90Â°F

#### Filtering data

In [11]:
### filters dataframe
mean90up = dade_daily_med[dade_daily_med["TMEAN_INDEX"] >= 90].reset_index(drop = True)

### displays dataframe
mean90up

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Miami-Dade,-80.5684,25.6148,7.0,1990-06-21,0.03,75.5,84.4,93.3,74.8,0.76,25.37,1990-06,1990,1990-06,1990,75.8,119.4,92.4,73.1
1,Miami-Dade,-80.5684,25.6148,7.0,1990-06-22,0.04,73.1,83.4,93.8,74.5,0.00,26.06,1990-06,1990,1990-06,1990,73.4,122.9,90.6,74.7
2,Miami-Dade,-80.5684,25.6148,7.0,1990-06-23,0.59,72.5,82.8,93.2,74.9,0.00,24.81,1990-06,1990,1990-06,1990,72.8,123.1,90.0,77.2
3,Miami-Dade,-80.5684,25.6148,7.0,1990-07-10,0.20,76.1,83.7,91.4,73.8,2.75,22.83,1990-07,1990,1990-07,1990,76.5,112.1,90.6,72.3
4,Miami-Dade,-80.5684,25.6148,7.0,1990-07-21,0.00,75.2,82.8,90.4,75.4,1.30,20.43,1990-07,1990,1990-07,1990,75.7,113.6,90.3,78.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2417,Miami-Dade,-80.5684,25.6148,7.0,2013-09-26,0.16,79.4,85.3,91.2,75.9,2.84,19.56,2013-09,2013,2013-09,2013,79.9,112.4,94.9,73.6
2418,Miami-Dade,-80.5684,25.6148,7.0,2013-09-27,0.00,77.2,83.9,90.6,76.0,1.99,18.64,2013-09,2013,2013-09,2013,77.7,113.3,92.7,77.3
2419,Miami-Dade,-80.5684,25.6148,7.0,2013-10-21,0.08,76.0,83.0,90.0,74.6,1.39,21.29,2013-10,2013,2013-10,2013,76.4,110.2,90.1,75.9
2420,Miami-Dade,-80.5684,25.6148,7.0,2013-10-22,0.08,75.0,83.1,91.3,74.6,1.19,22.52,2013-10,2013,2013-10,2013,75.4,114.5,90.2,75.7
2421,Miami-Dade,-80.5684,25.6148,7.0,2013-10-23,0.23,76.0,82.9,89.9,74.8,1.58,20.66,2013-10,2013,2013-10,2013,76.5,110.4,90.1,76.7

#### Creating dataframe

In [12]:
### computes yearly figures
days_90up = mean90up["YEAR_STR"].value_counts().sort_index(ascending = True).to_frame().reset_index()

### renames columns
days_90up.columns = ["YEAR", "MEANINDEX_90UP"]

### displays dataframe
days_90up.head()

   YEAR  MEANINDEX_90UP
0  1983              43
1  1984              13
2  1985              27
3  1986              32
4  1987              63

### Minimum heat index >= 105Â°F

In [13]:
### filters dataframe
dade_daily_med[dade_daily_med["TMIN_INDEX"] >= 105].reset_index(drop = True)

Empty DataFrame
Columns: [COUNTY, LONG, LAT, ELEV, DATE, RAINFALL, TMIN, TMEAN, TMAX, TDMEAN, VPDMIN, VPDMAX, MONTH_YEAR, YEAR, MONTH_YEAR_STR, YEAR_STR, TMIN_INDEX, TMAX_INDEX, TMEAN_INDEX, REL_HUMIDITY]
Index: []

There were no days which meet the criterion.

### Mean heat index >= 105Â°F

In [14]:
### filters dataframe
dade_daily_med[dade_daily_med["TMEAN_INDEX"] >= 105].reset_index(drop = True)

Empty DataFrame
Columns: [COUNTY, LONG, LAT, ELEV, DATE, RAINFALL, TMIN, TMEAN, TMAX, TDMEAN, VPDMIN, VPDMAX, MONTH_YEAR, YEAR, MONTH_YEAR_STR, YEAR_STR, TMIN_INDEX, TMAX_INDEX, TMEAN_INDEX, REL_HUMIDITY]
Index: []

There were no days which meet the criterion.

### Maximum heat index >= 105Â°F

#### Filtering data

In [15]:
### filters dataframe
days105up = dade_daily_med[dade_daily_med["TMAX_INDEX"] >= 105].reset_index(drop = True)

### displays dataframe
days105up

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Miami-Dade,-80.5684,25.6148,7.0,1990-05-11,0.01,66.6,77.3,88.0,70.3,0.39,19.28,1990-05,1990,1990-05,1990,66.6,105.7,77.9,79.1
1,Miami-Dade,-80.5684,25.6148,7.0,1990-05-14,0.00,71.3,79.9,88.6,71.6,1.37,21.32,1990-05,1990,1990-05,1990,71.5,105.5,83.5,75.9
2,Miami-Dade,-80.5684,25.6148,7.0,1990-05-16,0.00,70.2,79.5,88.8,70.6,1.01,21.93,1990-05,1990,1990-05,1990,70.3,105.1,82.6,74.3
3,Miami-Dade,-80.5684,25.6148,7.0,1990-05-18,0.00,66.3,77.9,89.5,69.3,0.06,23.22,1990-05,1990,1990-05,1990,66.2,107.8,78.4,75.0
4,Miami-Dade,-80.5684,25.6148,7.0,1990-05-19,0.00,66.7,78.1,89.4,69.3,0.48,25.63,1990-05,1990,1990-05,1990,66.6,107.2,78.6,74.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5307,Miami-Dade,-80.5684,25.6148,7.0,2013-10-09,0.41,73.3,80.7,88.1,73.5,1.32,17.06,2013-10,2013,2013-10,2013,73.7,105.8,85.5,78.8
5308,Miami-Dade,-80.5684,25.6148,7.0,2013-10-20,0.05,74.0,81.0,88.0,74.0,0.98,17.70,2013-10,2013,2013-10,2013,74.4,105.9,86.3,79.4
5309,Miami-Dade,-80.5684,25.6148,7.0,2013-10-21,0.08,76.0,83.0,90.0,74.6,1.39,21.29,2013-10,2013,2013-10,2013,76.4,110.2,90.1,75.9
5310,Miami-Dade,-80.5684,25.6148,7.0,2013-10-22,0.08,75.0,83.1,91.3,74.6,1.19,22.52,2013-10,2013,2013-10,2013,75.4,114.5,90.2,75.7
5311,Miami-Dade,-80.5684,25.6148,7.0,2013-10-23,0.23,76.0,82.9,89.9,74.8,1.58,20.66,2013-10,2013,2013-10,2013,76.5,110.4,90.1,76.7

#### Creating dataframe

In [16]:
### computes yearly figures
days_105up = days105up["YEAR_STR"].value_counts().sort_index(ascending = True).to_frame().reset_index()

### renames columns
days_105up.columns = ["YEAR", "MAXINDEX_105UP"]

### displays dataframe
days_105up.head()

   YEAR  MAXINDEX_105UP
0  1983             102
1  1984              88
2  1985             128
3  1986             128
4  1987             111

### Maximum heat index >= 130Â°F

#### Filtering data

In [17]:
### filters dataframe
days130up = dade_daily_med[dade_daily_med["TMAX_INDEX"] >= 130].reset_index(drop = True)

### displays dataframe
days130up

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Miami-Dade,-80.5684,25.6148,7.0,1985-06-05,0.00,73.5,84.9,96.4,74.9,0.13,30.01,1985-06,1985,1985-06,1985,73.7,130.3,93.3,72.1
1,Miami-Dade,-80.5684,25.6148,7.0,1995-08-16,0.18,74.2,84.5,94.8,77.0,0.62,24.93,1995-08,1995,1995-08,1995,74.6,131.0,94.7,78.4
2,Miami-Dade,-80.5684,25.6148,7.0,2007-08-06,0.00,77.5,87.2,96.9,76.4,0.39,32.05,2007-08,2007,2007-08,2007,77.9,130.5,98.3,70.5
3,Miami-Dade,-80.5684,25.6148,7.0,2010-08-01,0.18,76.5,86.6,96.7,76.5,1.60,29.87,2010-08,2010,2010-08,2010,76.9,131.6,97.6,72.1
4,Miami-Dade,-80.5684,25.6148,7.0,2010-08-16,0.40,76.5,86.3,96.1,76.5,1.61,26.67,2010-08,2010,2010-08,2010,76.9,130.0,97.1,72.8
5,Miami-Dade,-80.5684,25.6148,7.0,2011-07-18,0.23,73.1,85.1,97.0,74.2,0.54,30.36,2011-07,2011,2011-07,2011,73.2,130.3,92.9,70.0
6,Miami-Dade,-80.5684,25.6148,7.0,2011-08-14,0.55,73.0,86.2,99.5,74.7,0.86,37.47,2011-08,2011,2011-08,2011,73.1,138.9,95.0,68.8
7,Miami-Dade,-80.5684,25.6148,7.0,2005-07-23,0.04,80.5,88.9,97.3,77.8,0.93,32.88,2005-07,2005,2005-07,2005,83.8,131.5,102.7,70.0
8,Miami-Dade,-80.5684,25.6148,7.0,2005-07-24,0.13,79.0,88.0,97.0,77.9,0.60,29.52,2005-07,2005,2005-07,2005,79.5,132.9,101.5,72.2
9,Miami-Dade,-80.5684,25.6148,7.0,1998-07-02,0.00,75.1,85.8,96.4,75.8,0.25,23.02,1998-07,1998,1998-07,1998,75.4,130.5,95.5,72.2
10,Miami-Dade,-80.5684,25.6148,7.0,2019-06-25,0.00,77.3,87.4,97.5,75.6,1.26,34.41,2019-06,2019,2019-06,2019,77.6,130.1,97.7,68.2

#### Creating dataframe

In [18]:
### computes yearly figures
days_130up = days130up["YEAR_STR"].value_counts().sort_index(ascending = True).to_frame().reset_index()

### renames columns
days_130up.columns = ["YEAR", "MAXINDEX_130UP"]

### displays dataframe
days_130up.head()

   YEAR  MAXINDEX_130UP
0  1985               1
1  1995               1
2  1998               1
3  2005               2
4  2007               1

### Merging dataframes

In [19]:
### merges dataframes
yearly_dayscount = pd.merge(days_90up, days_105up, on = "YEAR", how = "outer")
yearly_dayscount = pd.merge(yearly_dayscount, days_130up, on = "YEAR", how = "outer")

### resets index
yearly_dayscount = yearly_dayscount.sort_values("YEAR").reset_index(drop = True)

### adds columns for filters with no results
yearly_dayscount["MININDEX_105UP"] = 0
yearly_dayscount["MEANINDEX_105UP"] = 0

### controls for null values
yearly_dayscount = yearly_dayscount.fillna(0)
yearly_dayscount = yearly_dayscount.round(0).astype(int)

In [20]:
leap = [1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]
yearly_dayscount["TOTAL_DAYS"] = 365
for i in range(0, len(yearly_dayscount)):
    
    if yearly_dayscount["YEAR"][i] in leap:
        yearly_dayscount["TOTAL_DAYS"][i] = 366

### displays dataframe
yearly_dayscount

,YEAR,MEANINDEX_90UP,MAXINDEX_105UP,MAXINDEX_130UP,MININDEX_105UP,MEANINDEX_105UP,TOTAL_DAYS
0,1983,43,102,0,0,0,365
1,1984,13,88,0,0,0,366
2,1985,27,128,1,0,0,365
3,1986,32,128,0,0,0,365
4,1987,63,111,0,0,0,365
5,1988,36,124,0,0,0,366
6,1989,46,148,0,0,0,365
7,1990,32,142,0,0,0,365
8,1991,55,133,0,0,0,365
9,1992,42,122,0,0,0,366
10,1993,36,129,0,0,0,365
11,1994,38,144,0,0,0,365
12,1995,87,145,1,0,0,365
13,1996,53,117,0,0,0,366
14,1997,56,138,0,0,0,365
15,1998,98,150,1,0,0,365
16,1999,42,120,0,0,0,365
17,2000,23,125,0,0,0,366
18,2001,26,120,0,0,0,365
19,2002,48,139,0,0,0,365
20,2003,73,162,0,0,0,365
21,2004,42,124,0,0,0,366
22,2005,99,142,2,0,0,365
23,2006,39,143,0,0,0,365
24,2007,71,132,1,0,0,365
25,2008,35,109,0,0,0,366
26,2009,92,155,0,0,0,365
27,2010,98,137,2,0,0,365
28,2011,53,144,2,0,0,365
29,2012,61,117,0,0,0,366
30,2013,54,110,0,0,0,365
31,2014,62,125,0,0,0,365
32,2015,60,167,0,0,0,365
33,2016,108,134,0,0,0,366
34,2017,97,139,0,0,0,365
35,2018,91,131,0,0,0,365
36,2019,107,154,1,0,0,365
37,2020,106,152,0,0,0,366
38,2021,74,138,0,0,0,365
39,2022,104,144,0,0,0,365

## Exporting dataframes

In [21]:
dade_daily_med.to_csv("generated_data/dade_daily_med.csv", index = False)
dade_yearly_med.to_csv("generated_data/dade_yearly_med.csv", index = False)
yearly_dayscount.to_csv("generated_data/dade_dayscount.csv", index = False)